<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WPFLogin.Properties.Settings.dandy_application_dbConnectionString"
        connectionString="Data Source=dandy-server.database.windows.net;Initial Catalog=dandy-application-db;Persist Security Info=True;User ID=dandy;Password=C@rneLL88"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="faceapikey" value="5a85d589c03c42c191d5b58299942746"></add>
    <add key="speakerapikey" value="afb1be89540f43af8aa5af7cfd310678"></add>
    <add key="tempphoto" value="F:\Github\SmartLogin\WPFLogin\Data\Photos\temp\"></add>
    <add key="photoslocation" value="F:\Github\SmartLogin\WPFLogin\Data\Photos\Person\"></add>
    <add key="dandy_application_dbConnectionString" value="Data Source=dandy-server.database.windows.net;Initial Catalog=dandy-application-db;Persist Security Info=True;User ID=dandy;Password=C@rneLL88"></add>
  </appSettings>

</configuration>