<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WPFLogin.Properties.Settings.dandy_application_dbConnectionString"
        connectionString="***YOUR SQL CONNECTION STRING***"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>    
    
    
    
    
    <add key="faceapikey" value="***MICROSOFT FACE API KEY***"></add>
    <add key="speakerapikey" value="***MICROSOFT SPEAKER API KEY***"></add>
    <add key="tempphoto" value="***TEMP LOCAL FOLDER***"></add>
    <add key="photoslocation" value="***PHOTOS LOCAL FOLDER***"></add>
    <add key="dandy_application_dbConnectionString" value="***YOUR SQL CONNECTION STRING***"></add>
  </appSettings>

</configuration>