<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFLogin.Properties.Settings.dandy_application_dbConnectionString"
            connectionString="Data Source=dandy-server.database.windows.net;Initial Catalog=dandy-application-db;Persist Security Info=True;User ID=dandy;Password=C@rneLL88"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="faceapikey" value="5bcc51ba6a5d4911befa5ebf8c93e2c9"></add>
    <add key="tempphoto" value="F:\Github\WPFLogin\WPFLogin\Data\temp\temp1.jpg"></add>
    <add key="photoslocation" value="F:\Github\WPFLogin\WPFLogin\Data\Photos\"></add>
    <add key="dandy_application_dbConnectionString" value="Data Source=dandy-server.database.windows.net;Initial Catalog=dandy-application-db;Persist Security Info=True;User ID=dandy;Password=C@rneLL88"></add>
  </appSettings>
  
</configuration>